In [2]:
import pandas as pd
import random 
import string
import datetime
import numpy as np

In [8]:
def generate_registration_number():
    return ''.join(random.choices(string.ascii_uppercase + string.digits, k=6))

registration_numbers = [generate_registration_number() for _ in range(1000)]

In [5]:
rows = 1000
columns = 10

df = pd.DataFrame(index=range(rows), columns=range(columns))

In [9]:
df.columns = ['Registration_number', 'Model', "Make", 'Engine_size', 'Capacity', 'Current_mileage', 'Date_MOT_due', 'Daily_hire_rate', 'Vehicle_status', 'Outlet_number']

In [11]:
df.Registration_number = registration_numbers

In [14]:
df.Engine_size = [random.uniform(0.5, 3.5) for _ in range(1000)]

In [15]:
df.Capacity = [random.randint(2, 7) for _ in range(1000)]

In [16]:
df.Current_mileage = [random.randint(0, 100000) for _ in range(1000)]

In [19]:
start = datetime.datetime(2023, 2, 11)
end = datetime.datetime(2024, 2, 10)

In [21]:
df.Date_MOT_due = [start + datetime.timedelta(days=random.randint(0, 365)) for _ in range(1000)]

In [23]:
status = ["available", "reserved"]

df.Vehicle_status = [random.choice(status) for _ in range(1000)]

In [27]:
cars = pd.read_csv('https://raw.githubusercontent.com/abhionlyone/us-car-models-data/master/2020.csv')

In [34]:
list_cars = list(cars.make + ',' + cars.model)

In [51]:
make_model = np.array([random.choice(list_cars) for _ in range(1000)])

In [52]:
make=[]
model = []
for car in make_model:
    make.append(car.split(',')[0])
    model.append(car.split(',')[1])

In [56]:
df.Make = make
df.Model = model

In [58]:
df.Daily_hire_rate = [random.randint(200, 2000) for _ in range(1000)]

In [ ]:
df.Registration_number.duplicated().any()

In [61]:
df.to_csv('cars.csv', index = False)

Vans

In [72]:
rows = 500
columns = 10

dfv = pd.DataFrame(index=range(rows), columns=range(columns))
dfv.columns = ['Registration_number', 'Model', "Make", 'Engine_size', 'Capacity', 'Current_mileage', 'Date_MOT_due', 'Daily_hire_rate', 'Vehicle_status', 'Outlet_number']

In [76]:
dfv.Registration_number = [generate_registration_number() for _ in range(500)]
dfv.Engine_size = [random.uniform(1, 4) for _ in range(500)]
dfv.Capacity = [random.randint(2, 4) for _ in range(500)]
dfv.Current_mileage = [random.randint(0, 100000) for _ in range(500)]
dfv.Date_MOT_due = [start + datetime.timedelta(days=random.randint(0, 365)) for _ in range(500)]
dfv.Vehicle_status = [random.choice(status) for _ in range(500)]
dfv.Daily_hire_rate = [random.randint(500, 1500) for _ in range(500)]

In [77]:
make_model = np.array([random.choice(list_cars) for _ in range(500)])
make=[]
model = []
for car in make_model:
    make.append(car.split(',')[0])
    model.append(car.split(',')[1])
dfv.Make = make
dfv.Model = model

In [79]:
dfv.to_csv('vans.csv', index = False)

Fault report

In [83]:
reg_nums = list(df.Registration_number) + list(dfv.Registration_number)

In [86]:
rows = 500
columns = 5
dff = pd.DataFrame(index=range(rows), columns=range(columns))
dff.columns = ['Report_number', 'Registration_number', 'Staff_number', 'Check_date', 'Faults']

In [88]:
dff.Registration_number = [random.choice(reg_nums) for _ in range(500)]

In [89]:
def generate_report_number():
    return ''.join(random.choices(string.ascii_letters + string.digits, k=5))

In [90]:
dff.Report_number = [generate_report_number() for _ in range(500)]

In [93]:
start = datetime.datetime(2017, 2, 11)
end = datetime.datetime(2023, 2, 10)
dff.Check_date = [start + datetime.timedelta(days=random.randint(0, 365)) for _ in range(500)]

In [95]:
fault = ['yes', 'no']
dff.Faults = [random.choice(fault) for _ in range(500)]

In [98]:
dff.to_csv('fault_reports.csv', index = False)

Updating fault reports and vehicles

In [16]:
dfstaff = pd.read_csv('staff.csv')
dffault = pd.read_csv('fault_reports.csv')

In [17]:
dffault

    Report_number Registration_number  Staff_number  Check_date Faults
0           QdJZM             I4ES6L2           NaN  2017-06-01     no
1           36AYj             G8TZ87N           NaN  2017-10-23     no
2           bOoN3             XMC468V           NaN  2017-07-18     no
3           JwUzQ             K83JSVS           NaN  2017-10-08     no
4           VCpUl             N8P54EH           NaN  2017-11-29     no
..            ...                 ...           ...         ...    ...
495         V8PvZ             QDNE41O           NaN  2017-10-26     no
496         DhSpb             AY5EZXA           NaN  2017-07-04     no
497         2zxeh             MBU2J3W           NaN  2017-11-20    yes
498         dGlML             U2FTADO           NaN  2017-07-12    yes
499         qYXgH             IKOFA66           NaN  2017-06-07    yes

[500 rows x 5 columns]

In [18]:
staff_no = dfstaff['staff number'].values

In [21]:
dffault.Staff_number = [random.choice(staff_no) for _ in range(500)]

In [23]:
dffault.to_csv('fault_reports.csv', index = False)

Fixing tables

In [4]:
dfv = pd.read_csv('cars.csv')

In [6]:
dfv.EngineSize = [random.randint(1, 4) for _ in range(1000)]

In [20]:
dfv

,RegistrationNumber,Model,Make,EngineSize,Capacity,CurrentMileage,DateMOTDue,DailyHireRate,VehicleStatus,OutletNumber,Type,TimesReserved
0,L4WPCB,Clubman,MINI,3,3,22366,2023-02-24,251,available,63,Van,8
1,TZSOO1,F250 Super Duty Crew Cab,Ford,4,6,18039,2023-05-22,1044,available,69,Car,5
2,CNNMZ1,Navigator,Lincoln,1,7,10707,2023-08-03,789,available,10,Van,3
3,HIYRPM,Kona,Hyundai,4,3,69143,2023-10-17,657,reserved,52,Van,2
4,K1LLG8,Forte,Kia,1,2,26840,2023-10-02,455,available,70,Van,2
...,...,...,...,...,...,...,...,...,...,...,...,...
995,ZOJ81W,X3 M,BMW,2,5,83093,2023-12-11,1913,available,34,Car,6
996,GD82HE,SQ5,Audi,4,2,97004,2023-07-10,259,reserved,4,Van,6
997,Y0ZSHJ,XC40,Volvo,2,7,42706,2023-03-14,202,reserved,9,Car,5
998,F8RVHJ,CLS,Mercedes-Benz,1,5,49216,2023-08-12,1478,reserved,39,Van,8
999,EOXZ9I,NEXO,Hyundai,2,3,20734,2023-05-10,1812,reserved,58,Car,9

In [9]:
dfv.RegistrationNumber = registration_numbers

In [13]:
dfv.OutletNumber = [random.randint(1, 70) for _ in range(1000)]

In [15]:
dfv.Type = [random.choice(['Car', 'Van']) for _ in range(1000)]

In [17]:
dfv['TimesReserved'] = [random.randint(0, 10) for _ in range(1000)]

In [21]:
dfv['VehicleStatus'] = [random.randint(0, 1) for _ in range(1000)]

In [22]:
dfv.to_csv('Vehicles.csv', index = False)

Fault Reports

In [57]:
dff = pd.read_csv('Faults.csv')

In [26]:
dff.ReportNumber = np.linspace(1, 500, 500)

In [29]:
dff.ReportNumber = dff.ReportNumber.astype(int)

In [31]:
dff.VehicleRegistrationNumber = [random.choice(registration_numbers) for _ in range(500)]

In [34]:
dff['IsFaulty(1,0)'] = [random.randint(0,1) for _ in range(500)]

In [36]:
dff.StaffNumber = [random.randint(1,350) for _ in range(500)]

In [60]:
dff['HireNumber'] = hirenumfault

In [62]:
dff.to_csv('Faults.csv', index=False)

Hire

In [18]:
dfh = pd.read_csv('Hires.csv')

In [43]:
hirenum = dfh.HireNumber.values

In [49]:
hirenumfault = random.sample(list(hirenum), 500)

In [52]:
len(hirenumfault)

500

In [64]:
dfh.VehicleRegistrationNumber = [random.choice(registration_numbers) for _ in range(600)]

In [66]:
dfh.StaffNumber = [random.randint(1,350) for _ in range(600)]

In [67]:
dfh.to_csv('Hires.csv', index = False)

## Fixing Clients

In [7]:
dfp = pd.read_csv('personalclient.csv')

In [4]:
dfb = pd.read_csv('Businessclient.csv')

In [5]:
dfb

,Client.Number,Name.of.business,Type.of.Business,Address,phone,fax
0,2947789641,Expotrans Srl,Distributor,Abbey Drive G14 9JP,87843596,8706576
1,2947790097,Future Electronics Inc (Distribution) Pte Ltd,Distributor,Abbeycraig Road G34 0DN,83631690,8629230
2,8483378396,Frontline Distribution & Services Company,Distributor,Abbeygreen Street G34 0JH,80206596,8905382
3,280670842,FFW Distribution Company,Distributor,Abbeyhill Street G32 6HP,86426524,8615848
4,6895927485,G Q Distributors,Distributor,Abbot Street G41 3XE,85405106,8722470
...,...,...,...,...,...,...
158,9787421007,Powermatic Distribution Pte Ltd,Distributor,Barshaw Court G52 4DX,85708595,8139685
159,9373790709,SENKO,Distributor,Bassett Crescent G13 3JS,80387859,8322663
160,5851010535,Rapid-Tech Distribution Pte Ltd,Distributor,Battles Burn View G32 8HP,80166498,8417144
161,4037644740,Quickmail Distribution Pte Ltd,Distributor,Beckfield Crescent G33 1ST,80149978,8972623
162,8983088324,AsstrA,Distributor,Bemersyde Avenue G43 1DA,85308012,8337979

In [8]:
dfp

,ClientNumber,firstName,lastName,HomeAddress,phoneNumber,DOB,DrivingLicenseNumber
0,1,Melisse,Lush,"Ballindalloch Drive, G31 3DL",7078071238,19/12/12,8513777951
1,2,Tannie,Charker,"Balloch Gardens, G52 1JQ",1297404912,2/6/1979,5296255968
2,3,Moss,Balhatchet,"Ballochmyle Crescent, G53 7GJ",8685549958,14/2/93,1990659535
3,4,Nata,Wolfe,"Ballochmyle Drive, G53 7GN",2302378008,6/9/2016,2837170968
4,5,Nonna,Listone,"Ballochmyle Gardens, G53 7GL",3519920142,14/3/90,5550212706
...,...,...,...,...,...,...,...
345,346,Leonora,Cornbill,"Boyndie Street, G34 9JE",9493834284,18/2/68,5290418016
346,347,Davina,Rittmeyer,"Bracken Street, G22 6LY",8496788179,11/11/1960,8031097364
347,348,Bibi,Ernke,"Brackla Avenue, G13 4HZ",6646775467,11/3/1984,6630077059
348,349,Quentin,Mossbee,"Bradan Avenue, G13 4HU",7866010047,26/11/90,9126095076
349,350,Antoine,Treadgall,"Bradfield Avenue, G12 0QH",8963728530,15/11/71,9922322528

In [14]:
start = datetime.datetime(1958, 2, 11)
end = datetime.datetime(2001, 2, 10)
dfp['DOB'] = [start + datetime.timedelta(days=random.randint(0, 15695)) for _ in range(350)]

In [16]:
dfp

,ClientNumber,firstName,lastName,HomeAddress,phoneNumber,DOB,DrivingLicenseNumber
0,1,Melisse,Lush,"Ballindalloch Drive, G31 3DL",7078071238,1969-09-29,8513777951
1,2,Tannie,Charker,"Balloch Gardens, G52 1JQ",1297404912,1981-07-18,5296255968
2,3,Moss,Balhatchet,"Ballochmyle Crescent, G53 7GJ",8685549958,1981-05-22,1990659535
3,4,Nata,Wolfe,"Ballochmyle Drive, G53 7GN",2302378008,1977-12-17,2837170968
4,5,Nonna,Listone,"Ballochmyle Gardens, G53 7GL",3519920142,1963-06-10,5550212706
...,...,...,...,...,...,...,...
345,346,Leonora,Cornbill,"Boyndie Street, G34 9JE",9493834284,1968-04-23,5290418016
346,347,Davina,Rittmeyer,"Bracken Street, G22 6LY",8496788179,1958-07-23,8031097364
347,348,Bibi,Ernke,"Brackla Avenue, G13 4HZ",6646775467,1978-02-14,6630077059
348,349,Quentin,Mossbee,"Bradan Avenue, G13 4HU",7866010047,1998-02-17,9126095076
349,350,Antoine,Treadgall,"Bradfield Avenue, G12 0QH",8963728530,1982-09-22,9922322528

In [17]:
dfp.to_csv('personal.csv')

## mileage

In [20]:
regnum = dfh.VehicleRegistrationNumber

In [23]:
rows = 300
columns = 5

dfm = pd.DataFrame(index=range(rows), columns=range(columns))

In [25]:
dfm.columns = ['MileageRegNum', 'VehicleRegNum', 'HireNum', 'Mileage', 'Date']

In [27]:
dfm.VehicleRegNum = [random.choice(regnum) for _ in range(300)]

In [28]:
dfm.HireNum = [random.randint(1,600) for _ in range(300)]

In [30]:
dfm.Mileage = [random.randint(0,10000) for _ in range(300)]

In [35]:
dfm.Date = dates

In [34]:
dates = pd.read_csv('MOCK_DATA.csv')['Date']

In [38]:
dfm.to_csv('mileage.csv', index = False)

## Receipt

In [39]:
dfh

,HireNumber,StartDate,TerminationDate,ClientNumber,VehicleRegistrationNumber,StaffNumber
0,1,16/1/18,2018-07-02,NaN,RRUW6S,141
1,2,19/1/18,2018-07-02,NaN,VZFZGN,68
2,3,19/1/18,2018-07-02,NaN,K9XYEY,320
3,4,22/1/18,2018-08-02,NaN,YGQBF9,66
4,5,24/1/18,2018-08-02,NaN,CQALJ1,232
...,...,...,...,...,...,...
595,596,24/5/18,28/5/18,NaN,RF71P3,250
596,597,24/5/18,28/5/18,NaN,WNA70X,123
597,598,24/5/18,29/5/18,NaN,IJDN1N,293
598,599,25/5/18,29/5/18,NaN,W5TJXT,247
599,600,25/5/18,29/5/18,NaN,R6IO8J,304

In [40]:
dfh.ClientNumber = [random.randint(1,513) for _ in range(600)]

In [41]:
dfh.to_csv('hires_final.csv')

In [47]:
rows = 200
columns = 6

dfr = pd.DataFrame(index=range(rows), columns=range(columns))

In [48]:
dfr.columns = ['ReceiptNum', 'HireNum', 'FaultReportNum', 'AmountPaid', 'DatePaid', 'PaymentMethod']

In [51]:
dfr.HireNum = [random.randint(1,500) for _ in range(200)]

In [52]:
dfr.FaultReportNum = [random.randint(1,500) for _ in range(200)]

In [54]:
dfr.AmountPaid = [random.randint(300,2000) for _ in range(200)]

In [56]:
dfr.DatePaid = [random.choice(dates) for _ in range(200)]

In [59]:
method = ['Cash', 'Credit', 'Debit', 'Paypal']

In [60]:
dfr.PaymentMethod = [random.choice(method) for _ in range(200)]

In [62]:
dfr.to_csv('receipts_final.csv', index = False)